

@media (max-height: 40em) {
    footer {
        visibility: hidden;
    }


    .homepage .centered {
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
    }

    .homepage .left {
        position: absolute;
        left: 25%;
        top: 75%;
        font-size: smaller;
    }

    .homepage .right {
        position: absolute;
        left: 75%;
        top: 80%;
        font-size: smaller;
    }

    ul {
        padding: 0;
        margin: 0;
    }
}
